<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>useMetric</key>
	<false/>
	<key>dataSuffix</key>
	<string>CO2 emitted</string>
	<key>userCarEmissionsPerMeter</key>
	<real>0.000271765</real>
	<key>useBike</key>
	<true/>
	<key>speedMaxWalk</key>
	<real>4.4704</real>
	<key>speedMaxBike</key>
	<real>8.940799999999999</real>
	<key>transportMode</key>
	<integer>2</integer>
	<key>weight</key>
	<integer>65</integer>
	<key>mapMode</key>
	<integer>0</integer>
	<key>followLocation</key>
	<true/>
</dict>
</plist>
